*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: red;
}
    main{
        /* width: 100vw; */
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
        padding:2rem;
        border:1px solid black;
        /* overflow: hidden; */
    }
    
/* .info{
    margin:20px;
    padding:10px; 
     width:200px;   
     margin-left: 70px;
    margin-top: 80px;
} */
h3{
    color: #000;
    width:55%;
    font-size:25px;
}
.login-form{
   width:80vw;
}
.login-form form{
    display:flex;
    flex-direction:column;
     /* justify-content: center;  */
    align-items: center;
    /* padding:20px; */
    /* margin:20px; */
}
.login-form form input{
    padding:0.5rem;
    margin:1rem;
    width:50%;
   
}

 form .form-break p a{
   text-decoration:none;
   font-size:15px;
   padding-left:20rem;
}
form #input{
    border: 0.1px solid burlywood;
    width:25rem;
    height:40px;
    margin:0.8rem;
}
form #input input{
    border:none;
    margin-left:70px;
    margin-top:6px;
}
form .form-break #signup{
    background-color: #a80000;
    border: none;
    color:white;
    font-size:1rem;
    border-radius: 8px 8px 8px 8px;
    width:25rem;
    padding-left:20px;
    margin-left: 1.5rem;
}
.line{
    display:flex;
    justify-content: center;
    /* padding:10px; */
}
.line p{
    margin: -10px;
    width: 23px;
    background-color:white;
    /* background-position: cover; */
}
.icons{
   text-align:center;
   margin-top:20px;
}
/* .fonts {
display: flex;
justify-content: center; 
 align-items:center; 
} */
.fonts a{
    text-decoration: none;
    margin:10px;
}
.icons p{
   padding-left:110px; 
   padding-top:50px;
}
